{% extends "main.html" %} {% block content %} {% include "header.html" %}
<div class="flexible-container">
    <div class="row col-md-9 col-md-offset-1 main">
        <div class="col-md-11">
            <h3><b>{{item.name}}</b></h3>
            <div class="item-description">
                <span>
       				 Description: <span>{{item.description}}</span>
                </span>
            </div>
            {% if 'username' in session %}
            <div>
                <a href="{{url_for('itemEdit',cat_name=item.category.name,item_name=item.name)}}">Edit</a> |
                <a href="{{url_for('itemDelete',cat_name=item.category.name,item_name=item.name)}}">Delete</a> {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}